*{
	padding: 0;
	margin: 0;
}

H1 {
	text-align: center;
	background-color: #434B32;
	font-weight: auto;
	font-size: 60px;
	color: white;
}

.boton-atras{
	position: relative;
	left: 220px;
	margin-top: 8px;
	width: 50px;
	height: 50px;
}

.titulo{
	background-color: #434B32;
	display: flex;
	justify-content: center;
}

h3{
	font-size: 36px;
	text-align: center;
	padding: 20px;
}

.container{
	background-color: #E4D9B7;
	width: 100%;
   height: 87vh;
   text-align: center;
}

.table, .tr, .th, .td{
	background-color: white;
	border: 1px solid black;
	border-collapse: collapse;
}

.th, .td{
	font-family: sans-serif;
	padding: 10px;
	text-align: center;
}

.table{
	font-size: 15px;
	width: 100%;
   margin: auto;
   border-collapse: collapse; 
}

.headtable{
	background-color: #434B32;
	color: white;
	width: 25%;
}


main{
   display: flex;
}

.agregar{
	position: relative;
	left: 150px;
	margin-top: 0px;
	width: 45px;
	height: 45px;
}

.ttabla{
	display: flex;
	justify-content: center;
}

.tabla{
	display: flex;
	justify-content: center;
}
.uno{
	width: 75%;
	height: auto;
	display: flex;
}
.dos{
	width: 10%;
	display: flex;
}
.dos img{
	left: 2cm;
	top: 0;
}
.tres{
	width: 10%;
}

footer {
	background-color: #E4D9B7;
    color: black;
    text-align: center; 
    padding: 5px; /* Espaciado alrededor del texto */
    bottom: 0; /* Fijar al fondo de la página */
    width: 99%; /* Ocupa todo el ancho */
}