*{
	padding: 0;
	margin: 0;
}

body{
	display: flex;  /* Usamos flexbox para estructurar la página */
    flex-direction: column;  /* Los elementos estarán en columna */
    min-height: 100vh;  /* La altura mínima será el 100% de la ventana */
	background-color: #E4D9B7;
}

.mi-imagen{
 	width: 50%;
    height: auto;
    object-fit: cover;
    margin-top: 44px;
    text-align: center;

}

H1 {
	text-align: center;
	background-color: #434B32;
	font-weight: auto;
	font-size: 60px;
	color: white;
}


.texto-bajo{
	text-align: center;
	font-size: 30px; 
    margin-top: 3px; 
}

.menu{
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.child{
	text-align: center;
	justify-content: center;
	flex-grow: 1;
	width: 25px;
	height: 25px;
}

*{
	padding: 0;
	margin: 0;
}

H1 {
	text-align: center;
	background-color: #434B32;
	font-weight: auto;
	font-size: 60px;
	color: white;
}

.boton-atras{
	position: relative;
	left: 220px;
	margin-top: 8px;
	width: 50px;
	height: 50px;
}

.titulo{
	background-color: #434B32;
	display: flex;
	justify-content: center;
}

.mi-foto{
	width: 50%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
}

main{
   display: flex;
}

footer {
    color: black;
    text-align: center; 
    padding: 5px; /* Espaciado alrededor del texto */
    bottom: 0; /* Fijar al fondo de la página */
    width: 99%; /* Ocupa todo el ancho */
	margin-top: auto;
}